<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span ><a mat-button href="#"> Inscripcion asignatura </a></span>
      <span ><a mat-button href="#"> Inscripcion carrera  </a></span>
      <span ><a mat-button href="#"> Inscripcion examen  </a></span>
      <span ><a mat-button href="../grafo/grafo.html"> Consultar calificacion  </a></span>
      <span class="example-fill-remaining-space"></span>
      <span>  Proyecto</span>
    </mat-toolbar>
   {{Titulo}}
  </mat-sidenav-content>
</mat-sidenav-container>
